# with miniconda3 (python3.7.3)
# on ubuntu 16.04 with build-essential installed
psutil=5.6.3
numpy=1.16.4
scipy=1.2.1
pandas=0.24.2
scikit-learn=0.21.2
numba==0.44.1
matplotlib==3.1.0
gensim==3.4.0
pytables==3.5.2